<% provide :title, "Frequently asked questions" %>
<div class="container">
<p>
	 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et pulvinar est, eget lobortis erat. Aliquam facilisis, sapien a tincidunt varius, tortor velit euismod metus, vel ultricies mi libero sit amet libero. Duis id mi lacus. Donec eget tellus luctus metus euismod consectetur. Pellentesque dictum aliquam leo, sed malesuada justo tincidunt ut. Etiam eget condimentum lectus, vitae ultrices neque. Curabitur ut quam a nisi vulputate sollicitudin vel eu arcu. Curabitur consequat aliquam ipsum eu venenatis. Morbi sed sem sollicitudin enim pulvinar lacinia. Fusce vehicula adipiscing molestie. Duis varius lectus id cursus tincidunt.
</p>

<p>
Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tincidunt diam et faucibus dapibus. Aliquam posuere augue sed lorem dapibus cursus. Nunc a mi leo. Phasellus ullamcorper gravida pellentesque. Aliquam id lacus non dui viverra convallis non ultrices ligula. Morbi nec tempor tellus. Nulla suscipit et velit vitae imperdiet.
</p>

<p>
Mauris eu ante ultricies, tincidunt felis eu, blandit orci. Proin euismod elit non turpis tristique facilisis. Vivamus tristique tristique nisl, eu porta eros porta fringilla. Cras condimentum pellentesque mattis. Aenean erat nisl, tempus et sodales non, fermentum sit amet dui. Aliquam ac diam sed quam egestas euismod. Duis faucibus suscipit tortor adipiscing tempus. Phasellus egestas enim convallis lacus tempus, a consequat massa sodales. Ut eu fermentum lectus. Morbi eu enim vel ligula dignissim porta. Phasellus posuere vel dolor vitae sollicitudin. Phasellus dapibus fringilla sagittis. Duis suscipit, nunc id iaculis dapibus, turpis mi iaculis magna, ac sollicitudin orci nunc vulputate nisi. Donec consequat tristique turpis, sit amet tempor dolor adipiscing at. 

</p>

</div>