<h1>Welcome#index</h1>

<%= button_to 'Dummy login', 'sessions/create', method: :post, form: {:session => {id: 1}} %>
<%= button_to 'Dummy logout', 'sessions/destroy', method: :post, form: {:session => {id: 1}} %>

<p>Find me in app/views/welcome/index.html.erb</p>