<h1>Cornell Environmental Health and Safety <br> CO2 sensor website</h1>

<p>Please login to see data</p>

<%#= chart [{label: 'Hello World', data: [ [1, 3], [2, 14.01], [3.5, 3.14]]}, {label: 'Foo', data: 25}, {label: 'Bar', data: 25}] %>
