// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Welcome/home page */

.welcome {
	width:100%;
    background-image: image-url("welcome_background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;


    h1 {
    	padding:5px;
    	color:#ffffff;
    }

    p {
    	color:#000000;
    	background:rgba(255,255,255,0.7);
    	
    	position:absolute; bottom:0;

    	padding:0.5em;
    	margin-bottom:0px;
    }
}

.welcome-container {
	width:100%;
	margin:none;
	padding:10px 0 0 0;
}