// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Welcome/home page */

.welcome {
	width:100%;
    background-image: image-url("welcome_background.jpg");
    background-position: center center;
    background-size: cover;
}