<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "some link", '#', id: "logo" %>
			<nav>
				<ul class="nav navbar-right navbar-nav">
					<li><%= link_to "Something", '#' %></li>
					<li><%= link_to "Something", '#' %></li>
					<li><%= link_to "Something", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>