<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Home", root_path, id: "logo" %>
			<nav>
				<ul class="nav navbar-right navbar-nav">
					<li><%= link_to "Sensor Data", sensor_data_path %></li>
					<li><%= link_to "Devices", devices_path %></li>
					<li><%= link_to "Experiments", experiments_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>